*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

}

.logo {
    font-size: 46px;
    position: absolute;
    width: 308px;
    height: 80px;
    left: 250px;
    top: 190px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    line-height: 79px;
    color: #FFF2E7;
    text-decoration: none;
}

.intro
{
    position: absolute;
    width: 545px;
    height: 46px;
    left: 250px;
    top: 285px;  
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 39px;
    color: #ECD6C4;
    list-style: none;
}

.add 
{
    position: absolute;
    display: flex;
    width: 120px;
    height: 40px;
    left: 250px;
    top: 360px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.add li
{
    justify-content: center;
    height: 2.5em;
    display: flex;
    align-items: center;
    position: absolute;
}

.add li a
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2F2325;
    font-size: 16px;
}

.line2 
{
    position: absolute;
    width: 210px;
    height: 0px;
    left: 540px;
    top: 540px;
    border: 0.4px solid #FFF2E7;
    list-style: none;
    border: 0.4px solid #FFF2E7;
    align-items: center;
    justify-content: center;

}

.oql 
{
    position: absolute;
    width: 271px;
    height: 44px;
    left: 506px;
    top: 590px;
    align-items: center;
    justify-content: center;
}


.oql li 
{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFF2E7;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 8vh;
}

.line1 
{
    position: absolute;
    width: 99.8%;
    height: 0px;
    left: 0px;
    top: 96px;
    border: 0.4px solid #FFF2E7;
    list-style: none;
}

main 
{
    background: url(Vector.png);
    width: 62px;
    height: 62px;
    position: absolute;
    left: 40vh;
    right: 0%;
    top: 15px;
    bottom: 0%;
}


.list1
{
    position: absolute;
    width: 85%;
    height: 73px;
    left: 80px;
    top: 650px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list1 li
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 11px;
    line-height: 29px;
    text-align: center;
    color: #ECD6C4;
}


.nav-list {
    position: relative;
    list-style: none;
    font-size: 13px;
    display: flex;
    left: 175px;
    margin-top: 40px;
    align-items: center;
}

.nav-list li 
{
    letter-spacing: 2px;
    margin-left: 40px;
}

.nav-list li a
{
    color: white;
    text-decoration: none;
}

.line3 
{
    position: absolute;
    width: 99.8%;
    height: 0px;
    top: 800px;
    border: 0.4px solid #FFF2E7;
    list-style: none;
}

.bailarine
{
    position: absolute;
    width: 335px;
    height: 66px;
    left: 540px;
    top: 840px;
    align-items: center;
    justify-content: center;
}

.group4 
{
    position: absolute;
    width: 240px;
    height: 280px;
    left: 780px;
    top: 96px;
}


.group4 img
{
    position: absolute;
    width: 320px;
    height: 430px;
    left: 20px;
    top: -10px;
}